.App {
  text-align: center;
}
.App-logo {
  height: 15vmin;
  pointer-events: none;
  border-radius: 50%;  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-section {
  background-image: url("./img/img_portfolio2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-div {
  display: none;  
}
.App-p {
  margin-top: 5%;
}
.App-link {
  font-size: 1rem;
  text-decoration: none;
  color: #3b3646;
}
.App-link:hover {  
  color: #a29ca9;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* configuration pc */
@media all and (min-width: 1024px) {
  .App-div {
    display: block;
  }
  .App-link {
    font-size: 1.5rem;
    margin-top: 0;
    color: white;
  }
  .App-div {
    margin-top: 6%;  
  }  
}