/* box avec bordure animée pour encadrer le contenu du header*/
.boxheader {
  width: 300px;
  margin: 0 auto;
  padding: 2px;
  /* background-color: goldenrod; gold */
  background-color: #3b3646;
  /* Single pixel data url image http://jsfiddle.net/LPxrT/ */
  background-image: 
  /* url('data:image/gif;base64,R0lGODlhAQABAPAAANqlIP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='), */
  url('data:image/gif;base64,R0lGODlhAQABAPAAADs2Rv///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  /* url('data:image/gif;base64,R0lGODlhAQABAPAAAAAAAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='), */
  url('data:image/gif;base64,R0lGODlhAQABAPAAADs2Rv///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  animation: drawBorderFromCenter 4s;
  /* border-radius: 5%; */
}
@keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}
.contentheader {
  background: white;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #a29ca9;
  border-radius: 50%;
}