body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3646;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #3b3646;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  font-size: 1.1rem;
  color: #a29ca9;
}
header {
  background-color: #3b3646;
}
footer {
  background-color: #312d3a;
}
.contactP {
  margin-bottom: 10%;
}
li {
  text-decoration: none;
  list-style-type: none;
  font-weight: normal;
}
td {
  width: 70vw;
  height: 20vh;
  border: 1px solid #a29ca9;
  padding: 2%;
}
.biographieP {
  text-align: justify;
}
.breackB {
  border: 2px #3b3646;
  height: 7vh;
  width: 60vw;
  border-radius: 5%;
  transition-duration: 0.4s;
}
.breackB:hover {
  background-color: #a29ca9;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.projectP {
  text-align: center;
  font-size: 1rem;
}
/* configuration smartphone */
@media all and (max-width: 361) {
  .apprentissageDiv {
    margin-left: 25%;  
  }
  .apprentissageP {
    text-align: justify;
  }
}
/* configuration tablette */
@media all and (min-width: 768px) {
  .contactP {
    margin-top: 10%;
    margin-bottom: -3%;
  }
  td {
    height: 10vh;
  }
  .breackB {
    height: 5vh;
    width: 25vw;
  }
}
/* configuration pc */
@media all and (min-width: 1025px) {
  .contactP {
    margin-top: 7%;
    margin-bottom: 1%;
  }
  td {
    height: 7vh;
  }
  .breackB {
    height: 6vh;
    width: 15vw;
  }
}